:root {
    --nav-bar-height: 50px;
    --banner-height: 350px;
}

.demo-home * {
    z-index: 2;
}

.demo-home {
    width: 100%;
}

.demo-home .nav {
    min-height: var(--nav-bar-height);
    line-height: calc(var(--nav-bar-height) * 0.5);
    background-color: #fff;
    padding: 10px 0;
    z-index: 3;
    box-shadow: 4px 12px 20px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 4px 12px 20px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 4px 12px 20px 0px rgba(0, 0, 0, 0.58);
}

.demo-home .nav .nav-logo img {
    border-radius: 30px;
    padding: 5px 50px 5px 5px;
}

.demo-home .nav .nav-link {
    min-width: 100px;
    text-align: center;
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border: 1px dashed darkblue;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    clip-path: polygon(40px 0, 100% 0, calc(100% - 40px) 100%, 0 100%);
    font-style: italic;
}

.demo-home .nav .nav-link.active {
    background-color: #140696;
    color: wheat;
    border: 1px dashed wheat;
}

.demo-home .nav .nav-link.active,
.demo-home .nav .nav-link:hover {
    transform: translate(10px, 10px) scale(1.1);
}

.demo-home #banner {
    position: relative;
}

.demo-home #banner .banner-container {
    position: fixed;
    top: 30vh;
    width: 100%;
}

.demo-home #banner .title {
    width: 100%;
    left: 0;
    text-align: left;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    background-color: rgba(100, 92, 92, 0.3);
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
}

.demo-home #banner .title span {
    position: relative;
    left: -40px;
    padding: 10px;
}

.demo-home #banner .title b {
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
    font-family: "Bevan", serif;
    font-style: normal;
}

.demo-home #banner .logos {
    width: 100%;
    height: 100%;
}

.demo-home .logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

.demo-home .logo.logo-tdc {
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url("../../../public/src/intros/bg-1.png");
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}

.demo-home .logo.logo-tdc::before,
.demo-home .logo.logo-tdc::after {
    content: "";
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    background-image: url("../../../public/src/intros/bg-2.png");
    background-size: contain;
}

.demo-home .logo.logo-tdc::after {
    background-image: url("../../../public/src/intros/bg-3.png");
}

.demo-home .logo.logo-ja {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    left: 15px;
}

.demo-home .logo.logo-ja::before {
    content: '';
    inset: 0;
    position: absolute;
    scale: 0.3;
    background-color: red;
    z-index: 1;
    border-radius: 50%;
}

.demo-home .logo.logo-vn {
    background-color: rgba(255, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    right: 15px;
}

.demo-home .logo.logo-vn::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    scale: 0.4;
}

.demo-home .content {
    position: relative;
    z-index: 4;
    width: 100%;
    background-color: #140696;
    overflow: hidden; 
}

.demo-home .container {
    z-index: 3;
    position: relative;
}

.demo-home .item-page {
    position: relative;
    height: 100vh;
    padding-top: calc(var(--nav-bar-height) + 50px);
    margin: 0 auto 10vh; 
    /* background-color: #fff; */
    /* clip-path: polygon(20% 0%, 0 0, 3% 50%, 0% 90%, 20% 100%, 82% 94%, 94% 100%, 100% 76%, 98% 49%, 100% 0, 80% 0%, 49% 4%); */
}

/* .demo-home .item-page::before,
.demo-home .item-page::after {
    content: "";
    inset: 0;
    position: absolute;
    border: 20px solid aqua;
    left: 0;
    top: 0;
} */

.demo-home .item-page::after {
    top: 20px;
    left: 20px;
    border: 20px solid pink;
}

.demo-home .item-page .page-content {
    width: 100%;
    padding: 0 10%;
    height: 70%;
    margin: 20px auto 0;
    border-radius: 50px;
    position: relative;
}

.demo-home .item-page .page-content .appload-student {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.demo-home .item-page .page-content .appload-student .appload-card,
.demo-home .item-page .page-content .appload-student .appload-card img {
    border-radius: 30px;
}

.demo-home .item-page .page-content .btn-view {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    color: white;
    background-color: darkblue;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: -1px 6px 22px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 6px 22px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 6px 22px -1px rgba(0, 0, 0, 0.75);
}

.demo-home .item-page .page-content .btn-view:hover {
    transform: translateY(-10px) translateZ(10px);
    box-shadow: -14px 19px 22px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -14px 19px 22px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -14px 19px 22px -1px rgba(0, 0, 0, 0.75);
}

.demo-home .item-page .banner {
    position: relative;
    height: var(--banner-height);
}

.demo-home .item-page .banner .carousel-banner {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    box-shadow: -25px 23px 5px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: -25px 23px 5px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -25px 23px 5px 0px rgba(0, 0, 0, 0.58);
}

.demo-home .item-page .banner .carousel-banner img {
    width: 100%;
    border-radius: 10px;
    height: var(--banner-height);
}

.demo-home #trang-chu .btn-view {
    position: unset;
    margin-left: 10px;
}

.demo-home #trang-chu .sub-contain {
    perspective: 500px;
}

.demo-home #trang-chu .sub-item {
    min-height: 120px;
    width: 100%;
    border-radius: 5px;
    word-wrap: none;
    text-align: left;
    width: 100%;
    background-color: white;
    margin: 0 10px;
    transform: rotateX(30deg);
    box-shadow: -13px 12px 20px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: -13px 12px 20px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -13px 12px 20px 0px rgba(0, 0, 0, 0.58);
}

.demo-home #trang-chu .sub-item:hover {
    transform: rotateX(0deg) rotateY(20deg) translateZ(100px);
    z-index: 4;
}

.demo-home #trang-chu .sub-item.reverse:hover {
    transform: rotateX(0deg) rotateY(-20deg) translateZ(100px);
}


.demo-home #vinh-danh {
    background-color: unset;
}

.demo-home #vinh-danh.item-page::before,
.demo-home #vinh-danh.item-page::after {
    content: unset;
}

.demo-home .footer-container {
    position: relative;
    overflow: hidden;
    /* clip-path: polygon(69% 0, 87% 4%, 100% 0, 100% 100%, 0 100%, 0 0, 24% 5%); */
    background-image: linear-gradient(#fff, rgb(0, 0, 39), rgb(0, 0, 39));
}

.demo-home .footer-wave {
    position: relative;
    width: 100%;
    height: 150px;
}

.demo-home .bubble {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 300vh;
    left: 0;
    z-index: 1;
    animation: bubble 5s infinite linear;
}

.demo-home .bubble.overlay {
    background-color: darkblue;
    mix-blend-mode: overlay;
}

.demo-home .bubble.logo-tdc {
    background: rgba(255, 255, 255, 0.7);
    background-image: url("../../../../src/FIT-TDC_logo-removebg-preview.png");
    background-size: contain;
}

@keyframes bubble {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: unset;
        top: -100px;
    }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-color: transparent;
    /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}