

.home-page {

}

/* MAKR:BANNER */
.home-page #head-banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: calc(var(--nav-bar-height) - 10px);
}

.home-page #head-banner img {
    position: absolute;
    height: calc(100vh - (var(--nav-bar-height) - 10px) );
    width: 100%;
    z-index: 1;
}

.home-page #head-banner .banner-container {
    position: absolute;
    inset: 0;
    z-index: 2;
    padding: calc(var(--nav-bar-height) + 50px) 20px 20px 20px;
}

.home-page #head-banner .title {
    width: 100%;
    left: 0;
    text-align: left;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    background-color: rgba(100, 92, 92, 0.3);
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
}

.home-page #head-banner .title span {
    position: relative;
    left: -40px;
    padding: 10px;
}

.home-page #head-banner .title b {
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
    font-family: "Bevan", serif;
    font-style: normal;
}

.home-page #head-banner .logos {
    width: 100%;
    height: 100%;
}

/* MARK:LOGOS */
.home-page .logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

.home-page .logo.logo-tdc {
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url("../../../public/src/intros/bg-1.png");
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}

.home-page .logo.logo-tdc::before,
.home-page .logo.logo-tdc::after {
    content: "";
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    background-image: url("../../../public/src/intros/bg-2.png");
    background-size: contain;
}

.home-page .logo.logo-tdc::after {
    background-image: url("../../../public/src/intros/bg-3.png");
}

.home-page .logo.logo-ja {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    left: 15px;
}

.home-page .logo.logo-ja::before {
    content: '';
    inset: 0;
    position: absolute;
    scale: 0.3;
    background-color: red;
    z-index: 1;
    border-radius: 50%;
}

.home-page .logo.logo-vn {
    background-color: rgba(255, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    right: 15px;
}

.home-page .logo.logo-vn::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    scale: 0.4;
}

/* MARK:CONTENT */
.home-page #main-content {

}

/* MARK:FOOTER */
.home-page #main-footer {

}

/* MARK:APPLOAD */
.home-page #vinh-danh {
    background-color: unset;
    position: relative;
    height: 100vh;
    padding-top: calc(var(--nav-bar-height) + 50px);
    margin: 0 auto 10vh; 
}

.home-page #vinh-danh.item-page::before,
.home-page #vinh-danh.item-page::after {
    content: unset;
}

.home-page .footer-container {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#fff, rgb(0, 0, 39), rgb(0, 0, 39));
}

.home-page .footer-wave {
    position: relative;
    width: 100%;
    height: 150px;
}

.home-page .bubble {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 300vh;
    left: 0;
    z-index: 1;
    animation: bubble 5s infinite linear;
}

.home-page .bubble.overlay {
    background-color: darkblue;
    mix-blend-mode: overlay;
}

.home-page .bubble.logo-tdc {
    background: rgba(255, 255, 255, 0.7);
    background-image: url("../../../../src/FIT-TDC_logo-removebg-preview.png");
    background-size: contain;
}

.home-page .waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.home-page .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-color: transparent;
}
.home-page .bgTop {
    z-index: 15;
    opacity: 0.5;
}
.home-page .bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.home-page .bgBottom {
    z-index: 5;
}
.home-page .wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.home-page .waveTop {
    background-size: 50% 100px;
}
.home-page .waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.home-page .waveMiddle {
    background-size: 50% 120px;
}
.home-page .waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.home-page .waveBottom {
    background-size: 50% 100px;
}
.home-page .waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


/* MARK:KEYFRAMES */
@keyframes bubble {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: unset;
        top: -100px;
    }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}