.appload-content {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
        rgb(117, 65, 0), rgb(1, 1, 58), 
        rgb(117, 65, 0), rgb(1, 1, 58), 
        rgb(117, 65, 0)
    );
}

.appload-content .title {
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 4;
    display: block;
    width: 100%;
    background-image: url("../../../public/src/bg_pattern.png");
    text-align: center;
    line-height: 100px;
}

.appload-content .appload-class {
    margin-top: var(--nav-bar-height);
    margin-bottom: 50px;
    padding: 130px 0;
    height: 80vh;
    margin-bottom: 20vh;
    border-radius: 20px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
}

.appload-content .appload-class h2 {
    position: absolute;
    bottom: 100px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
    left: 0;
    color: white;
    font-weight: bolder;
}

.appload-content .nav {
    min-height: var(--nav-bar-height);
    line-height: calc(var(--nav-bar-height) * 0.5);
    background-color: #fff;
    padding: 10px 0;
    z-index: 3;
    box-shadow: 4px 12px 20px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 4px 12px 20px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 4px 12px 20px 0px rgba(0, 0, 0, 0.58);
}

.appload-content .nav .nav-logo img {
    border-radius: 30px;
    padding: 5px 50px 5px 5px;
}

.appload-content .nav .nav-link {
    min-width: 100px;
    text-align: center;
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border: 1px dashed darkblue;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    clip-path: polygon(40px 0, 100% 0, calc(100% - 40px) 100%, 0 100%);
    font-style: italic;
}

.appload-content .nav .nav-link.active {
    background-color: #140696;
    color: wheat;
    border: 1px dashed wheat;
}

.appload-content .nav .nav-link.active,
.appload-content .nav .nav-link:hover {
    transform: translate(10px, 10px) scale(1.1);
}

.appload-content .nav.nav-tabs {
    position: fixed;
    top: calc(var(--nav-bar-height) * 2);
    right: 10px;
}

.appload-content .nav.nav-tabs a {
    text-decoration: none;
}