.admin-posts .pagination>li>span {
  border: 1px solid teal;
  color: teal;
  cursor: pointer;
}

.admin-posts .pagination>li.active>span {
  background: teal;
  color: #FFF;
  cursor: pointer;
}

.admin-posts .pagination .sub-link {
  background: black;
  color: #FFF;
}

.admin-posts .pagination .sub-link:hover {
  background: rgba(125, 161, 146, 0.7);
}